<div data-ng-controller="ActorSearchCtrl">
	<h2>Search for an actor</h2>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="firstName" class="col-md-2 col-sm-12">First
				Name</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="text" class="form-control" id="firstName"
					placeholder="Enter first name to search by"
					data-ng-model="firstName">
			</div>
		</div>

		<div class="form-group">
			<label for="lastName" class="col-md-2 col-sm-12">Last
				Name</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="text" class="form-control" id="lastName"
					placeholder="Enter last name to search by"
					data-ng-model="lastName">
			</div>
		</div>
		
		<div class="form-group">
			<label for="birthYear" class="col-md-2 col-sm-12">Birth Year</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="number" class="form-control" id="birthYear"
					placeholder="Enter birth year to search for"
					data-ng-model="birthYear">
			</div>
		</div>
		
		<div class="form-group">
			<label for="deathYear" class="col-md-2 col-sm-12">Death Year</label>
			<div class="col-md-6 col-sm-12 ">
				<input type="number" class="form-control" id="deathYear"
					placeholder="Enter death year to search for"
					data-ng-model="deathYear">
			</div>
		</div>		
		
		<div class="form-group">
		  	<div class="col-md-4 col-sm-12">
		  	  <button class="btn btn-primary" data-ng-click="searchForActors()" data-ng-disabled="searchDisabled()">Search</button>
		  	</div>
	  	</div>
	</form>
	
	<div data-ng-show="actors.length > 0">
		<h2>Results</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Birth Year</th>
					<th>Death Year</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="actor in actors">
					<td>{{actor.fullName}}</td>
					<td>{{actor.firstName}}</td>
					<td>{{actor.lastName}}</td>
					<td>{{actor.birthYear}}</td>
					<td><span data-ng-show="actor.deathYear > 0">{{actor.deathYear}}</span></td>
					<td><button class="btn btn-primary" data-ng-click="showMoviesForActor(actor)">Show Movies</button>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-ng-show="searchPerformed && actors == 0">
		<div class="alert alert-danger">No actors found for the specified search</div>
	</div>
	
	<div data-ng-show="selectedActor">
		<h2>Movies for {{selectedActor.firstName}} {{selectedActor.lastName}}</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Movie Title</th>
					<th>Year Released</th>
					<th>Running Time</th>
					<th>Role played</th>
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="role in selectedActor.roles">
					<td>{{role.movie.title}}</td>
					<td>{{role.movie.yearReleased}}</td>
					<td>{{role.movie.runningTimeInMinutes}}</td>
					<td>{{role.role}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>